* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

html {
    height: 100%;
}

 body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    height: 100%;
    overflow-x: hidden;
    background-color: #121826;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

header {
    position: absolute;
    width: 100%;
    z-index: 10;
}

main {
    flex: 1;
}

.hero {
    height: 100vh;
    width: 100%;
    background-image: url(../assets/img/home/torres-del-paine-edit.JPG);
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
}

.nao-clicavel {
    opacity: 0.6;
    cursor: not-allowed;
}

.nao-scroll {
    overflow: hidden;
    height: 100vh;
}

.navbar {
    
    padding: 20px 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.navbar a {
    position: relative;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: #ff2d4c;
}

.navbar a.active:hover {
    color: #000000;
}

.navbar ul a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: #0084ff;
    transform: width 0.3s ease;
}

.navbar a:hover::after {
    width: 100%;
}

.navbar .logo img {
    left: 60px;
    height: 40px;
    width: auto;
    display: block;
}

.navbar .nav-links ul{
    margin: 0;
    margin-left: 150px;
    display: flex;
    font-weight: 600;
}

.navbar .nav-links ul li{
    margin: 0 30px;
    
}

.navbar .nav-links ul li.active a {
    color: #ff2d4c;
    font-weight: 800;
}

.navbar .nav-links ul li.active a:hover {
    color: #ffffff;
}

.navbar .menu-hamburguer {
    display: none;
    position: absolute;
    top: 20px;
    right: 40px;
    height: 40px;
    width: auto;
}

@media screen and (max-width: 995px) {
    .navbar .logo img{
        left: 60px;
        height: 40px;
        width: auto;
    }

    .navbar .menu-hamburguer {
        display: block;
    }

    .nav-links {
        margin: 0;
        inset: 0; /* substitui top, left, width, height */
        display: flex;
        position: fixed;
        justify-content: center;
        align-items: center;
        background-color: rgba(89, 0, 255, 0.2);
        backdrop-filter: blur(7px);
        transform: translateX(-100%);
        transition: all 0.5s ease;
    }

    .nav-links.mobile-menu {
        transform: translateX(0);
        margin-left: 0;
    }

    .navbar .nav-links ul {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .navbar .nav-links ul li{
        margin: 20px 0;
        font-size: 1.2em;
    }

    .navbar .nav-links {
        margin: 0;
        font-size: 1.2em;
    }
    
}

    /* carrossel */
.carousel-indicators [data-bs-target] {
    background-color: #ed3c57;
}

.carousel-item img {
    object-position: center;
    border-radius: 12px;
}

.carousel-img-container {
    position: relative;
}

.carousel-img-container img {
    display: block;
    width: 100%;
}

/* mobile */
@media (max-width: 768px) {
    .carousel-content {
        left: 15px;
        bottom: 15px;
    }

    .carousel-content h2 {
        font-size: 1.2rem;
    }
}

.carousel-banner img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.carousel-banner {
    position: relative;
    overflow: hidden;
    z-index: 0;
}

/* conteúdo flexível */

.carousel-content {
    position: absolute;
    bottom: 25px;
    left: 30px;
    right: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: white;

    z-index: 2;
    
}

@media (max-width: 570px) {
    .carousel-content h2 {
        font-size: 12px;
        margin-bottom: 5px;
        bottom: 20px;
    }

    .botao-carousel {
        padding: 6px 14px;
        font-size: 0.85rem;
    }
}

@media (max-width: 490px) {
    .botao-carousel {
        padding: 2px 2px;
        font-size: 10px;
    }
}

.carousel-overlay {
    position: absolute;
    inset: 0;

    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.85), /* forte embaixo */
        rgba(0, 0, 0, 0.4),  /* meio */
        rgba(0, 0, 0, 0)     /* transparente em cima */
    );

    z-index: 1;
    pointer-events: none; /* 🔥 importante */
}

.botao-carousel {
    background: #ff2d4c;
    border: none;
    padding: 8px 18px;
    font-weight: bold;
}

.botao-carousel:hover {
    background: #6c0010;
}

/* galeria */
.box-container {
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px; /* lateral */
    row-gap: 30px;    /* vertical */
}

@media (max-width: 768px) {
    .box-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .box-container {
        grid-template-columns: 1fr;
    }
}

.inner {
    position: relative;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 12px;
}

.inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.inner::after {
    pointer-events: none;
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: 0.3s;
}

.titulo {
    position: absolute;
    bottom: 10px;
    left: 15px;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
}

.box:hover img {
    transform: scale(1.08);
    filter: brightness(0.7);
}

.box:hover .inner::after {
    opacity: 1;
}

.box:hover .titulo {
    opacity: 1;
    transform: translateY(0);
}

/* hero */

.hero {
    height: 80vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero .container {
    position: relative;
    z-index: 2;
}

.hero-home {
    background-image: url('../assets/img/home/hero-principal.png');
}

.hero-turismo {
    background-image: url('../assets/img/turismo/hero-moais.jpg');
}

.hero-historia {
    background-image: url('../assets/img/historia/hero-historia-geo.png');
}

.hero-gastronomia {
    background-image: url('../assets/img/gastronomia/hero-gastronomia-gerado.png');
}

.hero-cultura {
    background-image: url('../assets/img/cultura/hero-cultura.png');
}

/* tabs gastronomia */

.nav-pills .nav-link {
    color: white;
    margin-bottom: 10px;
    background: #1c1c1c;
}

.nav-pills .nav-link.active {
    background: #ff2d4c;
}

.nav-pills .nav-link:hover {
    background: #333;
}

.gastronomia-section {
    background: #121826;
}

.tab-pane img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

.section-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 12px;
}

.section-vimg {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 12px;
}